.nav {
    /*grid-area: n;*/
    background-color: #a97;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.item {
    margin: 10px;
}
.item > a{
    color: aliceblue;
}
.item.active > a{
    color: #a9e0d1;
}