.item {
    display: flex;
    flex-direction: column;
}
.avatarPost {
    display: flex;
    align-items: center;
}
.like {
    margin-left: 80px;
    color: #d22f1f;
}
.item img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}