.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  /*grid-template-areas:*/
  /*        'h h'*/
  /*        'n c';*/

  /*grid-template-rows: 60px 1fr;*/
  /*grid-template-columns: 2fr 10fr;*/
  /*grid-gap: 10px;*/
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.header {
/*grid-area: h;*/
  background-color: #6655aa;
  max-height: 60px;
  width: 100%;
  min-height: 100px;
  align-items: center;
  display: flex;
}
.header img {
  width: 70px;
  margin-left: 30px;
  padding: 15px 0;
}
.nav {
  /*grid-area: n;*/
  background-color: #a97;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  /*grid-area: c;*/
  background-color: #cccc99;
}